@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    background-size: cover;
    box-sizing: border-box;
}